@use '../utils/mixin' as m;
@use '../utils/variables' as v;

.def {
  border: 4px solid #ffabce;
  border-radius: 10px;
  padding: 16px 30px;
  @include m.media(sp) {
    padding: 8px 10px;
  }
  p {
    margin-top: 0;
    font-weight: 700;
    text-decoration: underline;

    &::before {
      content: '【定義】';
    }
  }
}
