@use '../utils/mixin' as m;
@use '../utils/variables' as v;

.toc {
  &_white {
    box-shadow: v.$shadow;
    border-radius: 10px;
    margin-block: 32px 50px;
    line-height: 1.4;
    /* background-color: #fcfceb; */
  }

  &_title {
    font-weight: bold;
    padding-top: 16px !important;
    padding-bottom: 12px !important;
    margin: 0 !important;
    background: v.$gradient-main;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 400;
    border-radius: 10px 10px 0 0;
    line-height: 1;
    padding-inline-start: 30px;

    @include m.media(sp) {
      font-size: 18px;
    }

    &::before {
      content: '';
      display: block;
      background-image: url(/book.svg);
      margin-right: 0.4em;
      width: 24px;
      height: 24px;
      background-size: cover;
      margin-top: -2px;
    }
  }

  &_list {
    color: #175a9c;
    padding: 12px;
    font-size: 16px;
    display: grid;
    /* text-decoration: underline; */

    a {
      text-decoration: none !important;
    }

    a:hover {
      opacity: 0.6;
    }

    li {
      margin: 8px 1em;

      @include m.media(sp) {
        font-size: 14px;
      }

      ul {
        padding-left: 1em;
        padding-top: 0.3em;
        font-weight: normal;
        display: grid;
        font-size: 14px;
        @include m.media(sp) {
          font-size: 12px;
        }

        > li {
          display: flex;
          line-height: 1 !important;

          &::before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background-color: #175a9c;
            border-radius: 50%;
            margin-top: 0.2em;
            margin-right: -1.3em;
          }
        }
      }

      > a {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }

    > li {
      font-weight: bold;
    }
  }

  &_depth_1 {
    font-size: 0.8em;
    /* font-weight: normal; */
    display: inline-flex;
    place-content: center;
    width: 24px;
    color: #fff;
    background-color: #1f2a82;
    aspect-ratio: 1 / 1;
    clip-path: circle(50%);
    line-height: 1;
    overflow: hidden;
    align-items: center;
    /* padding-top: 0.1em; */
  }

  &_depth_2 {
    font-size: 0.9em;
    color: transparent;
  }
}
