@use '../utils/variables' as v;
@use '../utils/mixin' as m;

h3 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 0.8em;
  margin-inline: 0.5em;
  padding: 6px 0.6em 5px;
  border-top: 3px solid v.$color-main;
  border-bottom: 3px solid v.$color-main;
  line-height: 1.5;

  + * {
    margin-top: 0 !important;
  }

  &:not(:first-child) {
    margin-top: 70px;
    @include m.media(sp) {
      margin-top: 40px;
    }
  }

  @include m.media(sp) {
    font-size: 18px;
    padding: 4px 16px;
  }

  + p + h4 {
    margin-top: 2em;
  }
}
